.icon-feed:before,.icon-rss:before{content:"\f09e"}
.icon-rss-square:before{content:"\f143"}
.footer{color:rgba(255,255,255,.6);background:#303f9f}
.footer p{margin:0;line-height:1.6;font-size:13px;text-align:center}
.footer p span:not(:first-child):before{content:"·";padding:0 .5em}
.footer p a{border-bottom:1px dotted rgba(255,255,255,.5)}
.footer p a:hover{border-bottom:1px solid rgba(255,255,255,.7)}
.footer .top{padding:16px;background:#3f51b5}
.footer a{color:inherit;opacity:.8}
.footer a:hover{color:#fff;text-decoration:none}
.footer .bottom{padding:16px}
.post-copyright footer{float:right}
.post-copyright footer a{position:relative;display:block;overflow:hidden;padding:0 16px 0 42px;height:28px;line-height:28px;color:#727272;background:#f1f3fa;border-radius:14px}
.post-copyright footer img{position:absolute;top:0;left:0;width:28px;height:28px;border-radius:50%}
.post-footer{position:relative;margin:0 -35px;padding:20px 35px 0;border-top:1px solid #ddd}
.post-content blockquote footer{margin-top:10px;text-align:right;font-size:80%}
.article-card .post-footer{margin:0 -20px;padding:12px 20px 8px}
.archive-article .post-footer{border-top:none;padding-top:0;padding-bottom:0}