.feed-link-url, .feed-link-tag, .feed-link-uname {
    color: #0F9D58;
}
a {
    color: #0F9D58;
}

body {
    background-color: #f7f7f7;
}
/*.pswp--animate_opacity,*/
/*.pswp__bg,*/
/*.pswp__caption,*/
/*.pswp__top-bar,*/
/*.pswp--has_mouse .pswp__button--arrow--left,*/
/*.pswp--has_mouse .pswp__button--arrow--right{*/
/*-webkit-transition: opacity 333ms cubic-bezier(.4,0,.22,1);*/
/*transition: opacity 333ms cubic-bezier(.4,0,.22,1);*/
/*}*/

body::-webkit-scrollbar {
    display: none;
}

a {
    color: #333333;
}

a:hover {
    color: #333333;
}

p {
    color: #333333;
}

/* mobile */
#weui_ex_page1 {
    /*display: flex;*/
    align-items: center;
}

#canvas-box {
    position: absolute;
    z-index: -1;
}

#content {
    padding: 30px 0;
    color: #FFF;
}

#content .sub-title, #content .title {
    color: #FFF;
}

.weui-flex__item {
    text-align: center;
}

.logo {
    margin-top: 30px;
    width: 20%;
    margin-bottom: 20px;
}

.title {
    font-size: 1.6em;
}

.sub-title {
    font-size: 1.1em;
    color: #666666;
}

.button-sp-area {
    margin: 0 auto;
    padding: 25px 0;
    width: 45%;
}

.button-sp-area img {
    width: 100%;
}

.end-image {
    margin-top: 30px;
    width: 90%;
}

.page-icon {
    width: 12%;
    margin: 10px 0;
}

.weui_ex_page {
    padding-top: 50px;
}

.background-gray {
    background-color: #f7f7f7;
}

#end-image-tuwen {
    width: 160%;
    position: relative;
    left: -30%;
    bottom: 0;
}

.end-image-box {
    overflow: hidden;
    margin-bottom: -8px;
}

.h72 {
    height: 72px;
}

.nine-icon-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10% 20% 10%;
}

.icon-box {
    width: 30%;
    height: 30%;
    text-align: center;
    margin-top: 20px;
}

.icon-image {
    width: 100%;
}

.icon-text {
    text-align: center;
    font-size: 13px;
}

.page-download {
    background-image: url("../images/bg.png");
    padding-bottom: 40px;
    -webkit-background-size: cover;
    background-size: cover;
}

.download-qrcode {
    margin: 30px 0;
}

#header {
    display: none;
}

.weui-ex-header {
    height: 80px;
    width: 100%;
    background: rgba(255, 255, 255, 0);
}

.weui-ex-header ul li {
    display: inline;
    margin-left: 30px;
    color: #FFFFFF;
}

.footer-navbar ul li {
    display: inline;
}

.footer-navbar ul li a {
    font-size: 1.2em;
    line-height: 2em;
    color: #999999;
    border-right: #999999 solid 1px;
    padding: 0 5px;
}

.weui-ex-header ul li a {
    line-height: 80px;
}

.weui-ex-header .weui-ex-header-logo {
    font-size: 24px;
    font-weight: bold;
}

.page1-download-box {
    display: none;
}

.pc-display {
    display: none;
}

#page-download-pc-box {
    display: none;
}

#footer {
    display: none;
}

#sidebar {
    width: 340px;
    display: none;
}

#sidebar .download-group {
    display: flex;
    justify-content:center;
    padding: 40px;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
}

#sidebar .sidebar-logo-group {
    align-self: center;
}

#sidebar .sidebar-logo-item {
    display: inline-block;
}

#sidebar .sidebar-logo-item img {
    height: 50px;
    margin-bottom: -5px;
}

#sidebar .sidebar-logo-group p {
    display: inline-block;
    margin-left: 6px;
}

#sidebar .title {
    font-size: 18px;
    font-weight: bold;
}

#sidebar .sub-title {
    font-size: 14px;
    color: #666666;
}

#sidebar .qrCode-group {
    margin-top: 10px;
}

#sidebar .qrCode-group img {
    width: 130px;
}

#sidebar .qrcode-title {
    font-size: 12px;
    color: #999999;
}

#sidebar .download-button-group {
    width: 60%;
    align-self: center;
    margin-top: 20px;
}

#sidebar .download-button-group img {
    width: 100%;
}

#sidebar .link-title {
    font-weight: bold;
}

#sidebar .follow-group {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    width: 70%;
}

#sidebar .follow-logo {
    height: 35px;
}

#weixin_qrcode {
    display: none;
    position: absolute;
    bottom: 50px;
    width: 160px;
    left: -60px;
}

#feed-detail {
    width: 100%;
    margin-top: 69px;
    background-color: #ffffff;
}

#feed-main .mobile-header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
}

#feed-main .mobile-header .mobile-header-content {
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    border-bottom: 1px solid #f5f5f5;
}

#feed-main .mobile-header .mobile-header-content .left-part {
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
}

#feed-main .mobile-header .mobile-header-content .left-part img {
    height: 44px;
}

#feed-main .mobile-header .mobile-header-content .left-part .text-group {
    height: 60px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#feed-main .mobile-header .title {
    font-size: 18px;
    line-height: 150%;
    display: block;
}

#feed-main .mobile-header .sub-title {
    font-size: 12px;
    color: #757575;
    display: block;
    line-height: 150%;
}

#feed-main .mobile-header .mobile-header-content .right-part {
    display: flex;
    align-items: center;
    height: 60px;
    margin-top: -2px;
}

#feed-main .mobile-header .mobile-header-content .right-part a {
    font-size: 12px;
    text-align: center;
    padding: 7px 8px;
    border: 1px solid #0f9d58;
    border-radius: 20px;
    background-color: transparent;
    line-height: 20px;
    margin: 15px 0;
    width: 70px;
    color: #0f9d58;
}

#feed-main .mobile-footer-content {
    /*background-color: #fff;*/
    width: 100%;
    /*padding: 10px 0;*/
    border-top: 8px solid #F5F5F5;
    margin-bottom: 80px;
}

#feed-main .footer-button {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 25px;
    left: 0;
    right: 0;
}

#feed-main .footer-button a {
    text-align: center;
    padding: 8px 20px;
    background-color: #0f9d58;
    border-radius: 20px;
    line-height: 20px;
    width: 96px;
    color: #ffffff;
    border: 0;
    font-size: 14px;
}

#feed-main .mobile-footer-content p {
    font-size: 16px;
    color: #bdbdbd;
    text-align: center;
}

.userinfo-follow-button {
    display: none;
}

.userinfo-follow-button a {
    padding: 4px 8px;
    background-color: #0f9d58;
    border-radius: 20px;
    line-height: 20px;
    width: 40px;
    color: #ffffff;
    border: 0;
    display: inline-block;
    text-align: center;
    font-size: 14px;
}

.feed-emoji {
    height: 18px;
    margin-bottom: -3px;
}

@media screen and (min-width: 1000px) {
    
    #weui_ex_page1 {
        display: flex;
    }

    #content {
        width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .page1-text-box {
        margin-top: 150px;
        align-self: center;
    }

    #page1-logo-box {
        display: none;
    }

    .page1-text-box .weui-flex__item {
        text-align: left;
    }

    #content .title {
        font-size: 3.5em;
    }

    #content .sub-title {
        font-weight: 200;
        font-size: 2.5em;
    }

    .mobile-display {
        display: none;
    }

    .pc-display {
        display: block;
    }

    .page1-download-box {
        display: flex;
        margin-top: 40px;
        align-items: center;
    }

    .page1-download-box img {
        border-radius: 8px;
    }

    .page1-download-button-box {
        height: 100%;
        margin: 0 20px;
    }

    .page1-download-button-box a {
        height: 50%;
        display: block;
    }

    .page1-download-button-box img {
        width: 70%;
        padding: 10px 0;
    }

    #page1-download-mobile {
        display: none;
    }

    #page1-end-image-box {
        align-self: flex-end;
        margin-bottom: -40px;
        width: 680px;
    }

    .end-image {
        width: 100%;
    }

    #page2 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 1000px;
        margin: 0 auto;
    }

    .page2-text-group {
        align-self: center;
    }

    .page-icon {
        width: auto;
    }

    .weui_ex_page .title {
        font-size: 3.5em;
    }

    .weui_ex_page .sub-title {
        font-size: 1.7em;
    }

    #page2-end-image-box {
        width: 500px;
        align-self: flex-end;
    }

    #end-image-tuwen {
        width: 900px;
        position: static;
        left: auto;
        bottom: auto;
    }

    #page3 .end-image-box {
        text-align: center;
        margin-top: 40px;
    }

    #page4 {
        width: 1000px;
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
        padding-top: 100px;
    }

    #page4 .end-image-box {
        width: 450px;
    }

    .nine-icon-box {
        width: 1000px;
        margin: 0 auto;
        justify-content: center;
        padding: 80px 0;
    }

    .icon-box {
        width: 15%;
        height: 15%;
        text-align: center;
        margin: 20px;
    }

    .page-download .icon-image {
        width: auto;
    }

    #page-download-mobile-box {
        display: none;
    }

    #page-download-pc-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #page-download-pc-box a {
        display: block;
        margin: 10px 20px;
        width: 180px;
    }

    #page-download-pc-box img {
        width: 100%;
    }

    .icon-text {
        font-size: 15px;
    }

    .pc72 {
        height: 72px;
    }

    #footer {
        display: block;
    }

    #feed-main {
        margin-top: 60px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #feed-main .content {
        margin-top: 10px;
        width: 600px;
        margin-right: 20px;
    }

    #sidebar {
        margin-top: 10px;
        display: block;
    }
    #feed-detail {
        margin-top: 0;
    }
    .content-footer {
        display: none;
    }
}